Repository dscdut/sharinghub, pull requests merged in 2023-05, with the labels that each got.

#131 [Fix]: Return User id :fire:
  backend/src/core/modules/user/user.repository.js
Labels: backend

#132 fix: BE - check start date before making a donation
  backend/src/core/api/v1/campaign/donation.resolver.js
  backend/src/core/modules/campaign/services/message.enum.js
  backend/src/core/modules/donation/service/donation.service.js
Labels: backend

#133 chore: BE - refactor feedback api endpoint
  backend/src/core/api/v1/campaign/campaign.resolver.js
  backend/src/core/modules/feedback/service/feedback.service.js
Labels: backend

#134 fix: BE - remove campaign name constraint
  backend/src/core/api/v1/campaign/campaign.controller.js
  backend/src/core/api/v1/campaign/campaign.resolver.js
  backend/src/core/modules/campaign/campaign.repository.js
  backend/src/core/modules/campaign/services/campaign.service.js
  backend/src/packages/restBuilder/core/dataHandler/data.repository.js
Labels: bug, backend

#136 enhance: BE - allow uploading webp files
  backend/src/core/modules/document/interceptor/media.interceptor.js
Labels: backend

#135 [Feat][Mobile]: SHA-104 - Config Analytics, Crashlytics And Upgrade Packages, Gradle
  mobile/android/app/build.gradle
  mobile/android/app/src/dev/google-services.json
  mobile/android/app/src/qa/google-services.json
  mobile/android/app/src/staging/google-services.json
  mobile/android/build.gradle
  mobile/lib/firebase_options/firebase_options.dart
  mobile/lib/firebase_options/firebase_options_dev.dart
  mobile/lib/firebase_options/firebase_options_qa.dart
  mobile/lib/main_app.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#141 enhance(SHA-108): BE - allow nullable name when searching campaign
  backend/src/core/modules/campaign/interceptor/coordinate-campaign.interceptor.js
Labels: backend

#139 [Feat] [SHA-102]: Handle Feedback API
  mobile/lib/common/helpers/dio.helper.dart
  mobile/lib/common/utils/image.util.dart
  mobile/lib/common/widgets/show_or_pick_image.widget.dart
  mobile/lib/common/widgets/show_or_pick_multiple_image.widget.dart
  mobile/lib/configs/router/app_routes.dart
  mobile/lib/data/datasources/remote/campaign.datasource.dart
  mobile/lib/data/dtos/organization_feedback.dto.dart
  mobile/lib/data/dtos/organization_feedback.dto.g.dart
  mobile/lib/data/dtos/paticipant_feedback.dto.dart
  mobile/lib/data/dtos/paticipant_feedback.dto.g.dart
  mobile/lib/data/repositories/campaign.repository.dart
  mobile/lib/di/di.config.dart
  mobile/lib/modules/campaign/bloc/campaign_register/campaign_register.bloc.dart
  mobile/lib/modules/campaign/bloc/participant_feedback/paticipant_feedback.bloc.dart
  mobile/lib/modules/campaign/bloc/participant_feedback/paticipant_feedback.event.dart
  mobile/lib/modules/campaign/bloc/participant_feedback/paticipant_feedback.state.dart
  mobile/lib/modules/campaign/campaign.dart
  mobile/lib/modules/campaign/view/participant_feedback/paticipant_feedback.view.dart
  mobile/lib/modules/campaign/widgets/detail/campaign_feedback_button.widget.dart
  mobile/lib/modules/campaign/widgets/participant_feedback/paticipant_feedback_form.widget.dart
  mobile/lib/modules/feedback_individual/bloc/feedback_individual.event.dart
  mobile/lib/modules/feedback_individual/feedback_individual.dart
  mobile/lib/modules/organization/bloc/feedback_campaign/feedback_campaign.event.dart
  mobile/lib/modules/organization/bloc/organization_feedback/organization_feedback.bloc.dart
  mobile/lib/modules/organization/bloc/organization_feedback/organization_feedback.event.dart
  mobile/lib/modules/organization/bloc/organization_feedback/organization_feedback.state.dart
  mobile/lib/modules/organization/management.dart
  mobile/lib/modules/organization/view/organization_feedback.view.dart
  mobile/lib/modules/organization/widgets/organization_feedback/organization_feedback_form.widget.dart
  mobile/lib/modules/profile/bloc/user_profile/user_profile.bloc.dart
  mobile/lib/modules/profile/view/profile.view.dart
  mobile/lib/modules/profile/widgets/profile/item_profile_campaign.widget.dart
Labels: mobile

#138 [Feat]: Add CarouselSlider to Detail Campaign
  mobile/lib/modules/campaign/widgets/detail/image_and_description.widget.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Labels: mobile

#137 [Feat] API Location
  mobile/lib/common/constants/endpoints.dart
  mobile/lib/common/constants/env_keys.dart
  mobile/lib/common/widgets/app_text_form_field.widget.dart
  mobile/lib/common/widgets/custom_dropdown_button.widget.dart
  mobile/lib/data/datasources/address.mock.dart
  mobile/lib/data/datasources/remote/address.datasource.dart
  mobile/lib/data/datasources/remote/campaign.datasource.dart
  mobile/lib/data/models/address/ward.model.dart
  mobile/lib/data/models/address/ward.model.g.dart
  mobile/lib/data/repositories/address.repository.dart
  mobile/lib/data/repositories/campaign.repository.dart
  mobile/lib/di/di.config.dart
  mobile/lib/flavors.dart
  mobile/lib/modules/explore/bloc/search/search.bloc.dart
  mobile/lib/modules/explore/bloc/search/search.event.dart
  mobile/lib/modules/explore/bloc/search/search.state.dart
  mobile/lib/modules/explore/view/search.view.dart
  mobile/lib/modules/explore/widgets/search_input.widget.dart
Labels: mobile

#143 feat(SHA-101): BE - participant feedback
  backend/package.json
  backend/src/core/api/v1/campaign/campaign.controller.js
  backend/src/core/api/v1/campaign/campaign.resolver.js
  backend/src/core/database/migrations/20230530182051_create_users_feedbacks_table.js
  backend/src/core/modules/donation/donation-record.repository.js
  backend/src/core/modules/user_campaign/user_campaign.repository.js
  backend/src/core/modules/user_feedback/dto/create-user-feedback.dto.js
  backend/src/core/modules/user_feedback/dto/index.js
  backend/src/core/modules/user_feedback/index.js
  backend/src/core/modules/user_feedback/interceptor/create-user-feedback.interceptor.js
  backend/src/core/modules/user_feedback/interceptor/index.js
  backend/src/core/modules/user_feedback/service/index.js
  backend/src/core/modules/user_feedback/service/message.enum.js
  backend/src/core/modules/user_feedback/service/user-feedback,service.js
  backend/src/core/modules/user_feedback/user_feedback.repository.js
Labels: backend
