Repository dscdut/sharinghub, pull requests merged in 2023-06, with the labels that each got.

#147 feat: BE - get user feedback by id
  backend/src/core/api/v1/campaign/campaign.controller.js
  backend/src/core/api/v1/campaign/campaign.resolver.js
  backend/src/core/common/swagger/index.js
  backend/src/core/common/swagger/user-id.js
  backend/src/core/modules/user_feedback/service/user-feedback,service.js
  backend/src/core/modules/user_feedback/user_feedback.repository.js
Labels: backend

#148 chore: BE - integrate user feedbacks with campaign detail
  backend/src/core/api/v1/campaign/campaign.controller.js
  backend/src/core/api/v1/campaign/campaign.resolver.js
  backend/src/core/modules/user_feedback/service/user-feedback,service.js
  backend/src/core/modules/user_feedback/user_feedback.repository.js
Labels: backend

#151 feat: BE - get all organizations
  backend/src/core/api/v1/org/org.controller.js
  backend/src/core/api/v1/org/org.resolver.js
  backend/src/core/modules/org/org.repository.js
  backend/src/core/modules/org/service/org.service.js
Labels: backend

#156 chore(SHA-119): BE - check if user already gave feedback
  backend/src/core/api/v1/campaign/campaign.controller.js
Labels: backend

#149 [Feat][Mobile]: My Voluntary screen
  mobile/assets/locales/en.json
  mobile/assets/locales/vi.json
  mobile/lib/common/constants/endpoints.dart
  mobile/lib/common/extensions/string.extension.dart
  mobile/lib/configs/router/app_routes.dart
  mobile/lib/data/datasources/remote/campaign.datasource.dart
  mobile/lib/data/models/campaign.model.dart
  mobile/lib/data/models/campaign.model.g.dart
  mobile/lib/data/repositories/campaign.repository.dart
  mobile/lib/generated/codegen_loader.g.dart
  mobile/lib/generated/locale_keys.g.dart
  mobile/lib/modules/campaign/widgets/detail/campaign_feedback_button.widget.dart
  mobile/lib/modules/campaign/widgets/detail/campaign_info.widget.dart
  mobile/lib/modules/campaign/widgets/management/list_campaigns.widget.dart
  mobile/lib/modules/explore/widgets/infor_item_explore.widget.dart
  mobile/lib/modules/explore/widgets/item_search.widget.dart
  mobile/lib/modules/profile/bloc/pending_campaign/pending_campaign_bloc.dart
  mobile/lib/modules/profile/bloc/pending_campaign/pending_campaign_event.dart
  mobile/lib/modules/profile/bloc/pending_campaign/pending_campaign_state.dart
  mobile/lib/modules/profile/view/pending_campaign.page.dart
  mobile/lib/modules/profile/widgets/pending_campaign/item_pending_campaign.widget.dart
  mobile/lib/modules/profile/widgets/pending_campaign/list_pending_campaigns.widget.dart
  mobile/lib/modules/profile/widgets/profile/item_profile_campaign.widget.dart
  mobile/lib/modules/profile/widgets/profile/list_status_shimmer.widget.dart
Labels: mobile

#159 feat(sha-102): handle participant feedback
  mobile/lib/data/datasources/remote/campaign.datasource.dart
  mobile/lib/data/dtos/paticipant_feedback.dto.dart
  mobile/lib/data/dtos/paticipant_feedback.dto.g.dart
  mobile/lib/data/models/campaign.model.dart
  mobile/lib/data/models/campaign.model.g.dart
  mobile/lib/data/repositories/campaign.repository.dart
  mobile/lib/modules/campaign/bloc/participant_feedback/paticipant_feedback.bloc.dart
  mobile/lib/modules/campaign/bloc/participant_feedback/paticipant_feedback.event.dart
  mobile/lib/modules/campaign/view/participant_feedback/paticipant_feedback.view.dart
  mobile/lib/modules/campaign/widgets/detail/campaign_feedback_button.widget.dart
  mobile/lib/modules/organization/bloc/organization_feedback/organization_feedback.event.dart
Labels: mobile

#158 [Fix][Mobile] refactor UI login page
  mobile/assets/icons/ic_internet.png
  mobile/assets/images/img_logo.png
  mobile/assets/locales/en.json
  mobile/assets/locales/vi.json
  mobile/lib/generated/assets.gen.dart
  mobile/lib/generated/codegen_loader.g.dart
  mobile/lib/modules/auth/views/login.view.dart
  mobile/lib/modules/auth/widgets/auth_text_form_field.widget.dart
  mobile/lib/modules/auth/widgets/login/option_and_submit_button.widget.dart
  mobile/lib/modules/auth/widgets/login/switch_language_button.widget.dart
Labels: mobile

#161 [Feat][Mobile] Pending campaigns API
  mobile/assets/locales/en.json
  mobile/lib/common/theme/text_styles.dart
  mobile/lib/common/widgets/app_text_form_field.widget.dart
  mobile/lib/common/widgets/custom_app_bar.widget.dart
  mobile/lib/data/datasources/remote/campaign.datasource.dart
  mobile/lib/data/models/user.model.dart
  mobile/lib/data/models/user.model.g.dart
  mobile/lib/data/repositories/campaign.repository.dart
  mobile/lib/generated/codegen_loader.g.dart
  mobile/lib/modules/profile/bloc/pending_campaign/pending_campaign_bloc.dart
  mobile/lib/modules/profile/view/pending_campaign.page.dart
  mobile/lib/modules/profile/widgets/profile/list_status_shimmer.widget.dart
Labels: mobile

#162 feat(SHA-121): BE - list user's donations
  backend/src/core/api/v1/user/user.controller.js
  backend/src/core/api/v1/user/user.resolver.js
  backend/src/core/modules/donation/donation-record.repository.js
  backend/src/core/modules/user/services/user.service.js
Labels: backend

#165 [Hotfix] Update pending campaign
  mobile/lib/modules/profile/view/pending_campaign.page.dart
Labels: mobile

#166 hotfix: compress format raises error with high quality image
  mobile/lib/common/utils/image.util.dart
  mobile/lib/modules/campaign/view/management/campaign_management.view.dart
Labels: bug
